$bodyColor: linear-gradient(to right, white, rgba(236, 238, 242, 1), rgba(224, 228, 234, 1));

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Black.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  background: $bodyColor;
  font-family: 'Roboto', sans-serif;
  text-align:center;
}

.app__filters {
  display:flex;
  margin-bottom: 20px;
}

.app__filters {
  h3 {
    text-align: center;
  }
}

.app__dataTable {
  border: 5px solid green;
}
@media screen and (max-width: 600px) {
  table {width:100%;}
  thead {display: none;}
  tr:nth-of-type(2n) {background-color: inherit;}
  tr td:first-child {background: #f0f0f0; font-weight:bold;font-size:1.3em;}
  tbody td {display: block;  text-align:center;}
  tbody td:before {
    content: attr(data-th);
    display: block;
    text-align:center;
  }
}

